{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        },
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-react-remove-prop-types",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ]
  ]
}
